# === Python Virtual Environments ===
GPTEnv/
google-cloud-sdk/
TFGenv/
VertexEnv/
GeminiEnv/
.venv/
venv/

# === Python Cache and Build Files ===
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
.mypy_cache/

# === Data and Output Files ===
*.csv
FineTuning/
FineTuning/synthetic_dataset.csv
dist/
LocalLlm/
meta-llama/

# === Notebooks and Local Config ===
Vertex.ipynb

# === Python Project Configuration ===
poetry.lock
pyproject.toml
poetry.toml