# === Python Virtual Environments ===
GPTEnv/
google-cloud-sdk/
TFGenv/
VertexEnv/
GeminiEnv/
.venv/
venv/

# === Python Cache and Build Files ===
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
.mypy_cache/
*.ipynb/
# === Data and Output Files ===
*.csv
*.log
FineTuning/
FineTuning/synthetic_dataset.csv
dist/
LocalLlm/
meta-llama/
evaluation/logs/
evaluation/metrics/
*.png


# === Notebooks and Local Config ===
/Falcon7b.ipynb
Gemini.ipynb
GeminiStreamlit.py
GPT-4.ipynb
metrics_analysis.py
# === Python Project Configuration ===
.config.yaml